.carousel-indicators{
    display:inline-block;text-align:center;
}
.carousel-inner{
    display:inline-block;text-align:center;
}
carousel-control-prev{
    top:100px;right:100px;
}
.Header{
    color:white;
    text-align:center;
}
body{
    background-color:black;
}
.Links{
text-align:center;
font-size:20px;
display: flex;
justify-content: center;
}