.Header{
    font-family:monospace;
    color:white;
    text-align:center;
}
.Video{
    width:800px;
    height:450px;
    margin:auto;
}
body{
    background-image:url(https://wallpaperaccess.com/full/2848635.png)
}
.d-grid gap-2{
    margin:auto;
}
.Links{
text-align:center;
font-size:20px;
display: flex;
justify-content: center;
}
.Navigation{
    display:flex;
    justify-content:center;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}