.Header{
    color:white;
    font-size:40px;
    text-align:center;
}
.Introduction{
font-family:monospace;
color:white;
padding:10px;
text-align:center;
}
.Images{
color:white;
text-align:center;
font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.Parts-Needed{
font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
color:white;
font-size:20px;
padding:20px;
text-align:center;
}
.Links{
text-align:center;
font-size:20px;
color:white;
}
.Accordion{
    display: flex;
    justify-content: center;
} 
.accordion-flush{
    background: red !important;
    }

body{
background-image: url(https://img.freepik.com/free-photo/cosmic-background-with-colorful-laser-lights_181624-26496.jpg?w=2000);
}
ul{
display:inline-block;text-align:left;
}
